/* CSS Document */
*{
	font-family: Roboto, Arial, sans-serif;
}
nav.navbar{
	position: fixed;
	top:0;
	width: 100%;
	z-index:3;
	background: white;
}
nav img{
	width: 4em;
}
nav ul{
	display: flex;
	justify-content: flex-end;
}
header .cover-image{
	background-image: url("../images/cover.png");
	background-size: cover; background-position: center;
	height: 95vh;
}
header .content h1{
	color: #2F4A99;
}
header .content p{
	font-weight: 300;
}

.btn-primary{
	background-color: #2F4A99; 
	height: 3em; width: 7em;
}
footer{

	font-weight: lighter;
}
